<body>

  <header>
    <div class="head-text">
    </div>
  </header>

  <main>
    <div class="main-wrapper">
      <picture class="scarecrow-img">
        <img src="https://raw.githubusercontent.com/nat-oku/devchallenges/main/Scarecrow.png" alt="scarecrow">
      </picture>
      <div class="error-text">
        <h2>La página que buscas no existe :(</h2>
        <p>Es probable que la página haya sido eliminada, o no exista.</p>
        <span class="input-group-btn">
            <a href="/" class="btn btn-outline-dark" type="button">Volver al Inicio</a>
        </span>
      </div>
    </div>

  </main>

</body>